Source: sleepi2-firmware
Section: misc
Priority: extra
Maintainer: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/mechatrax/sleepi2-firmware.git
Vcs-browser: https://github.com/mechatrax/sleepi2-firmware
Homepage: http://www.mechatrax.com/

Package: sleepi2-firmware
Architecture: armhf
Conflicts: sleepi-firmware
Depends: ${misc:Depends}, libraspberrypi-bin (>= 1.20160506-1), raspberrypi-bootloader (>= 1.20150506-1), raspi-config (>= 20150506)
Description: Device tree overlay binary for slee-Pi 2
 This package contains the device tree overlay binary for slee-Pi 2.
