Source: sleepi2-firmware
Section: kernel
Priority: optional
Maintainer: Masahiro Honda <honda@mechatrax.com>
Build-Depends: debhelper (>= 12), device-tree-compiler (>= 1.4.3)
Standards-Version: 4.3.0
Vcs-Git: https://github.com/mechatrax/sleepi2-firmware.git
Vcs-browser: https://github.com/mechatrax/sleepi2-firmware
Homepage: https://www.mechatrax.com/

Package: sleepi2-firmware
Architecture: armhf
Conflicts: sleepi-firmware
Depends: ${misc:Depends}, libraspberrypi-bin (>= 1.20160506-1), raspberrypi-bootloader (>= 1.20150506-1), raspi-config (>= 20150506)
Description: Device tree overlay binary for slee-Pi 2
 This package contains the device tree overlay binary for slee-Pi 2.
